.collection-carousel-title {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: 2vh;
}

.card-carousel-title {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
